language: php

php:
  - '7.3'

install: composer update

script:
  - vendor/bin/codecept run unit --coverage-xml=../../coverage.xml
  - vendor/bin/infection --min-covered-msi=100 --min-msi=100
  - bash <(curl -s https://codecov.io/bash) -c -F unittests

env:
  global:
    - secure: N5yxsRg/eD+wL22nXCA0P8elRaVtjwsRuEFPfdmGURIniQB2mb6Ip5ciQE/4TcTHgbMUyDtyWeUxSMxfTzvw8FcCiYGQOnGqmS6zO3yn1uL0ktdQvO71r02EvrvJlFdlF5ikO9CQ0LDLwTQmHje/R0YH8PbGo5Tu06FLlels6LeGXVGcQbfJWKAe4ZLgw+sWHETbgYPQFjNUE4S5cfl+Van6BcLaX99cE/uWa0+W9NkaZWAd2SGjAR7Lf0a9b1PdW1P+as9Bvy1wGUASzs62RAjPjSUciUiupmfY82pqIdXD5Qi1jHsriSkfMWDoK5l8AFa4pWdGbk2isSQ8bhGhLLg5P9vXKCTlZTFVk3qZ/dgBPDWOj17pl/PuzTMepX4P7qcW7FQaSMiwQnnaX1/t0zujj8wxJfSFZ3RrST5JQSpQGUQtK9iTA3POD4maycQ0wJD8F6DO6cV5FbJdg/sM1+QvrO8BHhvUmXFrhKyhoiysOBr5k7kRO0aRkmehWHbt5fVz6yz1trGLrUxZcInyVgV73n/B0igjsDcDkKIRNVaDS27bku9U0fteKL6w4VNRAuoVREnBV91/NqxFqf3LDXuoN5l0iRz2AHKBxIxGDrlR8gtS4B/T8NYqMMiaQctlAksdOumrHHaNMoy3iEw5Kr/7LYynVmuw7nXrdKJmUCE=
    - secure: MHmLf2sa4V5dgYGIomukn/GR5idYugwW25As9iK0bt24hYmkPnLi896j1SEEOZ6T8fX+uZWKwVxPfOe1TWbiuH3mhTNLvw79umlI9MsQCGcHtQfMjg/XgTM+HUad7v6BC3A8GMuv3P1CY4aPTktw+kHpF9balp79oPBBGDr0qTQG0wBDigZ29QqxMJB/ged8gd/iFNMavjHr+iafaplh5zoADC6L2fuKOH2zg+WL5tFMIdGz62xo91sBXQJsNVRWbPEGCCpwgpG2yfQXQwCRMHF373MEZ1RNFD4LMnk6VEaHzjOO0CWeU8rwni8eIy6x0l7nnja2wAdXvj9PZqUJxIchzhNKfjG28cfmRYKTMBSReXvflLjUo9Bp9rW8ytvaONeg0YgHn/dPkgL9IkTxx1ykVUTk8LXSDM6ALnXUnv2uLWnDElQ7xqdo8EJkFpo1fkpWjrweM1UHessbOiOH0mjn1RtJTQ7bj3kDQ0aRmbva70fEM0sNusiTFpSaBIhdVeU3M0CjDMeN+VI0I6oa5lmgu1d5qWlJEVVEepqUSGZ2NBsrXzeKlXKvjfE/uS5KmtPZ9LA4jxXMDxqAE5ZPs1OEPoogtReYBf1bn+3/KjJVR8cldbaqJFOGtJ5A/7Z8x01HCU5lhRpTEKezWPZy/ETwo7hfvKkOhzkP2DgIabA=
